<h1>Director</h1>
<img src="<%=@director.image_url  %>" width="400">
<p><%=@director.name %></p>
<p><%=@director.dob %></p>
<p><%=@director. bio%></p>

<a href="http://localhost:3000/directors">List of Directors</a>

